<div class = "row">
  <div class="large-6 columns">
    <p> Enter Your Location Information </p>
    <%=form_tag(root_path, method: 'get') do%>
    <%= text_field_tag 'starting_point', nil , placeholder: "Starting Point"%>
    <%= text_field_tag 'destination', nil, placeholder: "Destination"%>

    <p> Enter Your Car Information </p>
    <%= select_tag "make", options_for_select(@make),:prompt => "Make"%>
    <%= select_tag "model", options_for_select([]) ,:prompt => "Model"%>
    <%= select_tag "year", options_for_select([]),:prompt => "Year" %>
    <% end %>
  </div>
  <div class="large-6 columns">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2970.136984397992!2d-87.63765699999999!3d41.88991099999999!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2cb60fc662cb%3A0x5d92dee2fc38026!2sDev+Bootcamp+Chicago!5e0!3m2!1sen!2sus!4v1409271490908" width="450" height="350" frameborder="0" style="border:0"></iframe>
  </div>
</div>
<hr>
<div class="row card">
  <div class="large-3 columns ">
    <ul class="pricing-table">
      <li class="title">2014 Honda Accord</li>
      <li><img  src="http://media.caranddriver.com/images/media/51/dissected-lotus-based-infiniti-emerg-e-sports-car-concept-top-image-photo-451994-s-original.jpg" height="65" width="136" /></li>
      <li class="description">23 MPG City / 38 MPG Hwy</li>
      <li class="bullet-item">$150mo</li>
      <li class="bullet-item">$1,800yr</li>
      <li class="cta-button"><a href="#" class="button round tiny alert">X</a></li>
    </ul>
  </div>
  <div class="large-3 columns">
    <ul class="pricing-table">
      <li class="title">2014 Honda Accord</li>
      <li><img  src="http://media.caranddriver.com/images/media/51/dissected-lotus-based-infiniti-emerg-e-sports-car-concept-top-image-photo-451994-s-original.jpg" height="65" width="136" /></li>
      <li class="description">23 MPG City / 38 MPG Hwy</li>
      <li class="bullet-item">$150mo</li>
      <li class="bullet-item">$1,800yr</li>
      <li class="cta-button"><a href="#" class="button round tiny">X</a></li>
    </ul>
  </div>
  <div class="large-3 columns left">
    <ul class="pricing-table">
      <li class="title">2014 Honda Accord</li>
      <li><img  src="http://media.caranddriver.com/images/media/51/dissected-lotus-based-infiniti-emerg-e-sports-car-concept-top-image-photo-451994-s-original.jpg" height="65" width="136" /></li>
      <li class="description">23 MPG City / 38 MPG Hwy</li>
      <li class="bullet-item">$150mo</li>
      <li class="bullet-item">$1,800yr</li>
      <li class="cta-button"><a href="#" class="button round tiny">X</a></li>
    </ul>
  </div>
  <div class="large-3 columns left">
    <ul class="pricing-table">
      <li class="title">2014 Honda Accord</li>
      <li><img  src="http://media.caranddriver.com/images/media/51/dissected-lotus-based-infiniti-emerg-e-sports-car-concept-top-image-photo-451994-s-original.jpg" height="65" width="136" /></li>
      <li class="description">23 MPG City / 38 MPG Hwy</li>
      <li class="bullet-item">$150mo</li>
      <li class="bullet-item">$1,800yr</li>
      <li class="cta-button"><a href="#" class="button round tiny">X</a></li>
    </ul>
  </div>
  <div class="large-3 columns left">
    <ul class="pricing-table">
      <li class="title">2014 Honda Accord</li>
      <li><img  src="http://media.caranddriver.com/images/media/51/dissected-lotus-based-infiniti-emerg-e-sports-car-concept-top-image-photo-451994-s-original.jpg" height="65" width="136" /></li>
      <li class="description">23 MPG City / 38 MPG Hwy</li>
      <li class="bullet-item">$150mo</li>
      <li class="bullet-item">$1,800yr</li>
      <li class="cta-button"><a href="#" class="button round tiny">X</a></li>
    </ul>
  </div>
  <div class="large-3 columns left">
    <ul class="pricing-table">
      <li class="title">2014 Honda Accord</li>
      <li><img  src="http://media.caranddriver.com/images/media/51/dissected-lotus-based-infiniti-emerg-e-sports-car-concept-top-image-photo-451994-s-original.jpg" height="65" width="136" /></li>
      <li class="description">23 MPG City / 38 MPG Hwy</li>
      <li class="bullet-item">$150mo</li>
      <li class="bullet-item">$1,800yr</li>
      <li class="cta-button"><a href="#" class="button round tiny">X</a></li>
    </ul>
  </div>
  <div class="large-3 columns left">
    <ul class="pricing-table">
      <li class="title">2014 Honda Accord</li>
      <li><img  src="http://media.caranddriver.com/images/media/51/dissected-lotus-based-infiniti-emerg-e-sports-car-concept-top-image-photo-451994-s-original.jpg" height="65" width="136" /></li>
      <li class="description">23 MPG City / 38 MPG Hwy</li>
      <li class="bullet-item">$150mo</li>
      <li class="bullet-item">$1,800yr</li>
      <li class="cta-button"><a href="#" class="button round tiny">X</a></li>
    </ul>
  </div>
  <div class="large-3 columns left">
    <ul class="pricing-table">
      <li class="title">2014 Honda Accord</li>
      <li><img  src="http://media.caranddriver.com/images/media/51/dissected-lotus-based-infiniti-emerg-e-sports-car-concept-top-image-photo-451994-s-original.jpg" height="65" width="136" /></li>
      <li class="description">23 MPG City / 38 MPG Hwy</li>
      <li class="bullet-item">$150mo</li>
      <li class="bullet-item">$1,800yr</li>
      <li class="cta-button"><a href="#" class="button round tiny">X</a></li>
    </ul>
  </div>
  <div class="large-3 columns left">
    <ul class="pricing-table">
      <li class="title">2014 Honda Accord</li>
      <li><img  src="http://media.caranddriver.com/images/media/51/dissected-lotus-based-infiniti-emerg-e-sports-car-concept-top-image-photo-451994-s-original.jpg" height="65" width="136" /></li>
      <li class="description">23 MPG City / 38 MPG Hwy</li>
      <li class="bullet-item">$150mo</li>
      <li class="bullet-item">$1,800yr</li>
      <li class="cta-button"><a href="#" class="button round tiny">X</a></li>
    </ul>
  </div>
</div>

<script>
  <div class="large-3 columns left">
    <ul class="pricing-table">
      <li class="title">2014 Honda Accord</li>
      <li><img  src="http://media.caranddriver.com/images/media/51/dissected-lotus-based-infiniti-emerg-e-sports-car-concept-top-image-photo-451994-s-original.jpg" height="65" width="136" /></li>
      <li class="description">23 MPG City / 38 MPG Hwy</li>
      <li class="bullet-item">$150mo</li>
      <li class="bullet-item">$1,800yr</li>
      <li class="cta-button"><a href="#" class="button round tiny">X</a></li>
    </ul>
  </div>
</script>


